@import "../../styles/global/_mixins.scss";

.Repertoire {
  @include spacer(padding, y, 5);

  @include tablet-small {
    @include spacer(padding, x, 1 / 4);
    @include spacer(padding, t, 15);
    @include spacer(padding, b, 17);
  }
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet-small {
    padding-top: 0;
  }
}

.page_first {
  position: absolute;
  right: 0;
  top: 30px;
  width: 256px;
  z-index: -100;

  @include tablet {
    display: none;
  }
}

.page_second {
  position: absolute;
  right: 0;
  bottom: 220px;
  width: 226px;
  z-index: -101;

  @include tablet {
    display: none;
  }

  @include tablet-small {
    display: block;
    right: 0;
    bottom: -300px;
    width: 140px;
  }
}

.page_third {
  display: none;
  width: 145px;

  @include tablet-small {
    display: block;
    position: absolute;
    top: -580px;
    left: 0;
  }

  @include mobile {
    top: -680px;
  }
}

.page_fourth {
  display: none;
  width: 99px;

  @include tablet-small {
    display: block;
    position: absolute;
    right: 0;
    top: -230px;
  }
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images_tablet {
  display: none;

  @include tablet-small {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.images_container {
  @include tablet-small {
    &:last-child {
      display: none;
    }
  }

  @include tablet-small {
    display: none;
  }
}

.images_container_tablet {
  display: none;

  @include tablet-small {
    display: block;
    &:last-child {
      display: none;
    }
  }
}

.img {
  max-width: 310px;
  width: 100%;
  @include spacer(margin, b, 10 / 8);

  @include tablet-small {
    max-width: none;
  }
}

.title {
  font-weight: 400;
  font-size: 60px;
  line-height: 94.4%;
  font-family: 'PTSerif';
  @include spacer(margin, b, 10 / 8);

  @include tablet {
    text-align: center;
  }

  @include tablet-small {
    display: none;
  }
}

.title_tablet {
  display: none; 
  font-weight: 400;
  font-size: 40px;
  line-height: 94.4%;
  font-family: 'PTSerif';
  @include spacer(margin, b, 10 / 8);
  text-align: center;

  @include tablet-small {
    display: block;
  }

}

.discription {
  font-family: "PTSans";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  max-width: 477px;
  width: 100%;
  @include spacer(margin, b, 10 / 8);

  @include tablet {
    max-width: none;
  }

  @include tablet-small {
    display: none;
  }
}

.discription_tablet {
  display: none;
  font-family: "PTSans";
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  max-width: 477px;
  width: 100%;
  @include spacer(margin, b, 10 / 8);

  @include tablet-small {
    display: block;
    @include spacer(margin, b, 3);
  }
}

.text {
  font-weight: 400;
  @include font-size(30, 25);
  line-height: 39px;
  font-family: "PTSans";

  @include tablet {
    text-align: center;
  }
}

.value {
  font-weight: 400;
  @include font-size(58, 45);
  line-height: 80px;
  font-family: 'PTSerif';
  display: flex;
  text-align: center;
  white-space: nowrap;
}

.dop {
  font-family: 'PTSerif';
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
}

.container {
  max-width: 477px;
  width: 100%;
  display: grid;
  gap: 50px 150px;
  // height: 100vh;
  grid-template-rows: 150px 150px;
  grid-template-columns: 160px 150px;
  justify-items : start;
  justify-content: center;
  transform: translateX(-15px);

  @include tablet-small {
    margin: 0 auto;
    justify-items : center;
    gap: 50px 70px;
    transform: translateX(0);
  }

  @include mobile {
    gap: 25px 15px;
  }
}

.value_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}