@import "@/styles/global/mixins";

.Promo {
  @include tablet-small {
    flex-direction: column-reverse;
  }

  @include mobile {
    @include spacer(padding, b, 1 / 4);
    @include spacer(padding, t, 1);
  }
}

.left {
  position: relative;

  .img {
    width: calc(100% - 32px);
    object-fit: cover;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0 10% 10% 0;
  
    @include tablet {
      position: static;
      border-radius: 10%;
      width: auto;
      @include spacer(margin, b, 10 / 8);
    }
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.name {
  position: absolute;
  bottom: -15px;
  left: 15px;
  font-family: 'PTSans';
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;

  @include tablet {
    display: none;
  }
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  @include spacer(padding, x, 1);

  @include tablet-small {
    @include spacer(padding, x, 1 / 4);
  }
}

.columns {
  display: flex;
  width: 55%;
}

.heading {
  font-family: "PTSans";
  font-weight: 400;
  font-size: 29px;
  line-height: 94.4%;
  color: #000000;
  @include spacer(margin, b, 1 / 4);

  @include tablet-small {
    display: none;
  }
}

.title {
  font-family: 'PTSerif';
  font-weight: 400;
  @include font-size(90, 40);
  line-height: 94.4%;
  @include spacer(margin, b, 3 / 2);

  @include tablet-small {
    text-align: center;
    @include spacer(margin, b, 1 / 2);
  }
}

.discription {
  font-family: "PTSans";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  @include spacer(margin, b, 2);
  max-width: 646px;
  width: 100%;

  @include tablet-small {
    margin-bottom: 0;
    max-width: none;
  }
}

.item {
  font-family: 'PTSerif';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  @include spacer(margin, b, 1 / 2);

  &.active {
    background-color: transparent;
  }
}

.button {
  font-family: "PTMono";
  @include vw-property(
    (
      margin-right: 99
    )
  );

  @include tablet {
    display: none;
  }
}

.button_tablet {
  font-family: "PTMono";
  margin: 0 auto;
  display: none;


  @include tablet-small {
    display: block;
    width: 40%;
    @include spacer(margin, b, 3 / 4);
  }

  @include mobile {
    width: 60%;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 100%;

  @include tablet {
    display: none;
  }

  &.open {
    opacity: 1;
    pointer-events: all;
  }
}

.button_white_tablet {
  font-family: "PTMono";
  margin: 0 auto;
    display: none;

  @include tablet-small {
    display: block;
    width: 40%;
  }
  
  @include mobile {
    width: 60%;
  }
}